<auth-layout [title]="'Quên mật khẩu'">
  <div auth-layout="body">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nhập địa chỉ email</mat-label>
        <input matInput placeholder="user@example.com" formControlName="email" />
        <mat-error *ngIf="formErrors['email']">{{ formErrors['email'] }}</mat-error>
      </mat-form-field>
      <div class="button-group">
        <button type="submit" mat-raised-button color="warn">Gửi email</button>
        <a mat-button [routerLink]="['/authentication/login']">Đăng nhập</a>
      </div>
    </form>
  </div>
</auth-layout>
