.input-group{
  position: relative;

  .view {
    position: absolute;
    font-size: 11pt;
    top: 10px;
    z-index: 99999;
    color: #5c6873;
  }
}

.input-group-text{
  background-color: white;
  border: 1px solid #ccc;
}
