<auth-layout [title]="'Thay đổi mật khẩu mới'">
  <div auth-layout='body'>
    <form [formGroup]="frmSetNewPassword" (ngSubmit)="onSubmit()">

      <div class="form-group mb-4">
        <div class="input-group">
          <div class="input-group-prepend"><span class="input-group-text"><i class="icons icon-lock-open"></i></span>
          </div>
          <input type='{{inputType}}' name='password' class='goldtime-input form-control' formControlName='password'
            placeholder="Nhập mật khẩu mới" />
          <i (click)="onShowHidePassword('text')" class="far fa-eye view cursor-pointer"
            *ngIf="inputType === 'password'"></i>
          <i (click)="onShowHidePassword('password')" class="far fa-eye-slash view cursor-pointer"
            *ngIf="inputType === 'text'"></i>
        </div>
        <div class="text-danger text-left" style="font-size: 13px; font-weight: normal"
          *ngIf="frmSetNewPassword.controls.password.invalid &&(frmSetNewPassword.controls.password.dirty || frmSetNewPassword.controls.password.touched)">
          <div *ngIf="frmSetNewPassword.controls.password.errors['required']">
            Vui lòng nhập mật khẩu.
          </div>
          <div *ngIf="frmSetNewPassword.controls.password.errors['minlength']">
            Mật khẩu tối thiểu 6 ký tự.
          </div>
          <div *ngIf="frmSetNewPassword.controls.password.errors['mãlength']">
            Mật khẩu tối đa 20 ký tự.
          </div>
        </div>
      </div>

      <div class="form-group mb-4">
        <div class="input-group">
          <div class="input-group-prepend"><span class="input-group-text"><i class="icons icon-lock-open"></i></span>
          </div>
          <input type='{{inputTypeConfirm}}' name='confirmPassword' class='goldtime-input form-control'
            formControlName='confirmPassword' placeholder="Nhập lại mật khẩu" />
          <i (click)="onShowHideConfirmPassword('text')" class="far fa-eye view cursor-pointer"
            *ngIf="inputTypeConfirm === 'password'"></i>
          <i (click)="onShowHideConfirmPassword('password')" class="far fa-eye-slash view cursor-pointer"
            *ngIf="inputTypeConfirm === 'text'"></i>
        </div>
        <div class="text-danger text-left" style="font-size: 13px; font-weight: normal" *ngIf="frmSetNewPassword.controls.confirmPassword.invalid &&(frmSetNewPassword.controls.confirmPassword.dirty
                      || frmSetNewPassword.controls.confirmPassword.touched)">
          <div *ngIf="frmSetNewPassword.controls.confirmPassword.errors['required']">
            Vui lòng nhập mật khẩu.
          </div>
          <div *ngIf="frmSetNewPassword.controls.confirmPassword.errors['mustMatch']">
            Nhập lại mật khẩu không trùng với mật khẩu.
          </div>
        </div>
      </div>

      <div class='auth-form-controls justify-space-between row'>
        <div class="col-12">
          <button type="submit" class="btn btn-danger btn-block btn-login ">Đổi mật khẩu</button>
        </div>

        <div class="col-12 text-center mt-3">
          <a [routerLink]="['/authentication/login']" class="light-bold text-info">Quay lại trang đăng
            nhập</a>
        </div>
      </div>


    </form>
  </div>
</auth-layout>
